container {
  max-width: 1300px !important;
  margin: 0 auto;
  position: relative;
}

@media (min-width: 700px) {
  .container {
    padding: 0 100px;
  }
}

.sendwa:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
}
.sendwa {
  position: fixed;
  bottom: 0px;
  right: 0px;
  background: #25d366;
  border-radius: 10px;
  display: block;
  height: 42px;
  margin-bottom: 20px;
  width: 220px;
  color: #fff;
  text-decoration: none;
  transition: ease-in-out 0.2s;
}
.sendwa:hover {
  background: #128c7e;
}
.sendwa span {
  display: block;
  left: 5px;
  top: 5px;
  transform: translate(0, 10px);
}
svg {
  border-radius: 10px;
  display: block;
  fill: #fff;
  float: left;
  height: 42px;
  margin-right: 5px;
  -webkit-transition: ease-in-out 0.175s;
  transition: ease-in-out 0.175s;
  width: 42px;
}
